.main__container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-titles);
  width: 100vw;
}

.main__subtitle {
  font-size: 1.6rem;
  margin-left: 1.6rem;
  padding-bottom: 2.4rem;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-size: 2rem;
  width: 80%;
  height: 60vh;
}

@media only screen and (min-width: 768px) {
  .main__container {
    flex-direction: row;
    width: 100%;
    padding: 0 8%;
  }

  .text-container-calc {
    width: 30%;
  }

  .main__subtitle {
    font-size: 3rem;
  }

  .calculator {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .text-container-calc {
    width: 50%;
  }

  .main__subtitle {
    margin-left: 6rem;
  }

  .calculator {
    width: 50%;
  }
}
